.cont{
    width: 100%;
}
.header-type-2 .cont {
    padding: 0 15px;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
body.down header.clone {
    z-index: 99023;
}
/* Ограничение ширины слайдов */
.swiper-cards-slider .swiper-slide {
    width: auto; /* или например 300px, если хочешь фиксированную */
    max-width: 360px;
    max-height: 300px;
    flex-shrink: 0;
    height: auto !important;
}

/* Изображения внутри */
.swiper-cards-slider img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    max-width: 360px;

}
.component-image{
    height: 100%;
}
.swiper-cards-slider-wrap{
    max-width: 100%;
}
.contact.bl i{
    color: #000;
    font-size: 24px;
}
