.video__cont iframe {
    width: 100%;
    height: 545px;
}

.card {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 60px;
}

.card__cont {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.card__result-pics {
    width: 360px;
}

.card__result-pics .card__result-pic img {
    width: auto !important;
    height: 100% !important;
    margin: 0 auto !important;
}

@media (max-width: 850px) {
    .card__result-pics .card__result-pic img {
        width: 100% !important;
    }
}

.card__side {
    width: 360px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card .card__result-pics .slick-arrow {
    z-index: 1;
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__result-pics .slick-arrow svg {
    max-width: 100%;
}

.card__result-pics .slick-arrow svg path {
    fill: #fff;
}

.card__result-pics .slick-arrow::before {
    display: none !important;
}

.card__result-pics .slick-prev {
    left: 0;
}

.card__result-pics .slick-next {
    right: 0;
}

.card__main {
    width: 770px;
}

.card__show {
    width: 271px;
    height: 653px;
    background-size: cover;
    background-position: center;
}

.card__info {
    width: 100%;
    margin-top: 30px;
}

.card__info .mob-base-button {
    width: 100%;
    margin: 0;
    border: 1px solid #000;
    box-shadow: none;
    font-size: 15px;
    font-weight: 600;
}

.card__title {
    width: 100%;
    margin-bottom: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
}

.card__text {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 170%;
    color: #000000;
    opacity: 0.8;
    margin-bottom: 18px;
}

.card__price {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 20px;
    font-style: normal;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 25px;
}

.card__price_old {
    color: #828282;
    text-decoration: line-through;
}

.card__price_act {
    font-weight: 500;
}

.card__price_parts {
    flex-grow: 1;
    font-size: 13px;
}

.card__order {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    background: #000;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    display: block;
    transition: 0.3s;
    text-align: center;
}

.card__order:hover {
    background: #fff;
    color: #000;
}

.card__download {
    width: 100%;
    display: block;
    padding: 10px;
    border: 1px solid #000000;
    background: #24d366;
    color: #000;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    transition: 0.3s;
    text-align: center;
}

.card__download:hover {
    background: #000;
    color: #fff;
}

.card__main-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 170%;
    color: #000000;
    margin-bottom: 45px;
}

.card__tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 27px;
}

.card__tools-item {
    width: calc((100% - 40px) / 3);
    display: block;
    padding: 10px;
    border: 1px solid #000000;
    background: #fff;
    color: #000;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    transition: 0.3s;
    text-align: center;
    cursor: pointer;
}

.card__tools-item:hover {
    background: #000;
    color: #fff;
}

.card__tools-item-active {
    background: #000;
    color: #fff;
}

.card__body {
    width: calc(100% + 14px);
    margin-left: -7px;
    margin-right: -7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.card__material {
    width: 100%;
}

.card__material-body {
    width: calc(100% + 14px);
    margin-left: -7px;
    margin-right: -7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.card__model-help {
    width: 20%;
    padding: 16px 1px;
    /*16 20*/
    position: relative;
}

.tool2-body .card__material-help {
    height: 100%;
}

.card__material-help {
    width: 140px;
    /*77*/
    height: 140px;
    /*77*/
    padding: 5px;
}

.card__material-p {
    padding: 5px;
    border: 3px solid transparent;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    height: 100%;
}

.card__material-name {
    text-align: center;
    font-size: 12px;
}

.card__material-item {
    width: 100%;
    height: 100%;
    transition: 0.3s;
    background-size: cover;
    background-position: center;
}

.card__decor-item {
    width: 100%;
    height: 100%;
    transition: 0.3s;
    background-size: cover;
    background-position: center;
}

.card__model {
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: 0.3s;
}

.card__model-mob {
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: 0.3s;
}

.card__model-border {
    padding: 7px 14px;
    border: 3px solid transparent;
    cursor: pointer;
    transition: 0.3s;
}

.card__model-border img {
    width: calc(100% - 40px);
    position: absolute;
    top: 25.5px;
    left: 20px;
    transition: 0.3s;
}

.card__model-border:hover .card__model,
.card__model-border:hover .card__model-mob,
.card__material-p:hover .card__decor-item,
.card__model-border:hover img {
    transform: scale(0.95);
}

.card__material-p:hover .card__material-item {
    transform: scale(0.95);
}

.card__more {
    border: 1px solid #000000;
    display: block;
    padding: 17px;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
    text-align: center;
    margin-top: 30px;
    transition: 0.3s;
}

.card__models-more {
    border: 1px solid #000000;
    display: block;
    padding: 10px;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
    text-align: center;
    margin-top: 10px;
    transition: 0.3s;
}

.card__material-body {
    width: 100%;
    margin-bottom: 10px;
}

.card__material {
    display: none;
}

.card__material-head {
    width: 100%;
    font-size: 20px;
    line-height: 150%;
    text-transform: uppercase;
    color: #000000;
}

.card__tool-body {
    display: none;
}

.card__tool-body-active {
    display: block;
}

.card__more:hover {
    background: #000;
    color: #fff;
}

.card__model-active {
    border: 3px solid #000;
}

.card__model-active .card__model,
.card__model-active img {
    /*transform: scale(0.95);*/
}

.card__material-p-active .card__decor-item {
    transform: scale(0.95);
}

.card__material-p-active {
    border: 3px solid #000;
}

.card__material-p-active .card__material-item {
    transform: scale(0.95);
}

.card__main-text-mobile {
    display: none;
}

.card__tools-mobile {
    display: none;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.card__tools-mobile-item {
    width: 100%;
    border-bottom: 1px solid #00000010;
}

.card__tools-mobile-item:last-child {
    border-bottom: none;
}

.card__tools-head {
    padding: 19px 0;
    padding-right: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
    position: relative;
}

.card__tools-head:after {
    content: "";
    position: absolute;
    top: 28px;
    right: 2px;
    width: 6px;
    height: 6px;
    border: 2px solid #000;
    border-top: 0;
    border-right: 0;
    transform: rotate(-45deg);
    transition: 0.3s;
}

.card__tools-head-active:after {
    transform: rotate(-225deg);
}

.card__tools-body {
    display: none;
}

.card__models {
    width: calc(100% + 10px);
    margin-left: -5px;
    margin-right: -5px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card__result-pic img {
    position: relative;
    top: -1px;
}

.cont {
    overflow: hidden;
}

.card__model-border {
    height: 330px; /*220px*/
    position: relative;
}

.card__model {
    width: calc(100%) !important; /*calc(100% - 28px)*/
    background-size: cover !important;
    background-position: center !important;
    transition: .3s;
    height: calc(100% + 22px); /*- 14px*/
    position: absolute;
    top: -26px; /*7px*/
    left: 0; /*14px*/
}

.card__result-pic {
    margin-top: -46px;
    width: 273px;
    height: 653px !important;
    position: relative;
}

.card__show {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;

}

.card__side.fixed {
    position: sticky;
    top: 80px;
}

.card__result-pic {
    width: 54%;
    height: 430px !important;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.card__result-pic img {
    max-height: 100%;
}

.card__result-pic-ext,
.card__result-pic-int {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}

.card__result-pic-int img {
    height: 100%;
    width: calc(100% + 4px);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.card__title {
    font-size: 18px;
    margin-bottom: 10px;
}

.card__text {
    font-size: 14px;
    margin-bottom: 10px;
}

.card__order,
.card__download {
    padding: 5px 10px;
}

.card__popup {
    padding: 0 15px;
    transition: all 300ms linear;
    opacity: 0;
    visibility: hidden;
}

.card__popup.shown {
    opacity: 1;
    visibility: visible;
}

.card__popup_head {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    padding: 15px 0;
    border-bottom: 1px solid #9F9F9F;
}

.card__popup_title {
}

.card__popup_close {
}

.card__popup_body {
    padding: 15px 0;
}

@media (max-width: 850px) {
    .card__popup {
        position: fixed;
        inset: auto 0 0;
    }

    .card__popup.shown {
        transform: translateY(0);
    }
}

@media (min-width: 851px) {
    .card__popup {
    }

    .card__popup_head {
    }

    .card__popup_title {
    }

    .card__popup_close {
    }

    .card__popup_body {
    }
}

@media (max-width: 1020px) {
    .card__model-border {
        height: 220px;
        position: relative;
    }

    .card__model {
        width: calc(100% - 10px) !important;
        left: 5px;
    }

    .card-text__head {
        font-size: 27px;
        margin-bottom: 30px;
    }

    .card__main {
        width: 540px;
    }

    .card__side {
        width: 240px;
    }

    .card__show {
        width: 100%;
    }

    .card__model-help {
        width: 25%;
        padding: 8px 5px;
    }

    .card__info {
        margin-top: 30px;
        padding: 25px 15px;
    }

    .card__main-text {
        margin-bottom: 25px;
        font-size: 17px;
    }

    .card__tools-item {
        width: calc((100% - 20px) / 3);
        font-size: 17px;
    }

    .card__order {
        font-size: 17px;
    }

    .card__download {
        font-size: 17px;
    }

    .card {
        padding-top: 90px;
    }

    /* .card__material-help {
        width:calc(100% / 6);
    } */
}

@media (max-width: 850px) {
    .card {
        padding-top: 60px;
        padding-bottom: 50px;
    }

    .card__result-pic {
        width: 300px;
        height: 657px !important;
    }

    .card__model-help {
        width: 138px !important;
    }

    .card__model-border {
        height: 236px !important;
    }

    .card__tools-body {
        display: none;
    }

    .card__tools-mobile {
        position: relative;
        padding-top: 20px;
        border-top: 0;
    }

    .card__tools-mobile::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: #000;
        position: absolute;
        top: 20px;
        left: 0;
    }

    .card__title {
        padding-top: 20px;
        font-size: 18px;
        margin-bottom: 15px;
    }

    .card__info {
        display: block;
        /*grid-template-columns: repeat(1);*/
        padding: 0;
    }

    .card__info .mob-base-button {
        grid-column: 1 / -1;
    }

    .card__more {
        display: none;
    }

    .card__tools {
        display: none;
    }

    .card__main {
        width: 100%;
    }

    .card__show {
        width: 42%;
    }

    .card__side {
        width: 100% !important;
        margin-bottom: 50px;
    }

    .card__main-text {
        display: none;
    }

    .card__main-text-mobile {
        display: block;
    }

    .card__cont {
        flex-wrap: wrap;
    }

    .card__result-pics {
        width: calc(100% - 30px);
    }

    .card__body {
        display: none;
    }

    .card__main-text {
        font-size: 16px;
    }

    .card-text__body {
        font-size: 15px;
    }

    .card__model-help {
        width: calc(100% / 3);
    }

    .card__text-for-mobile {
        display: none;
    }
}

@media (max-width: 600px) {
    .card__result-pic {
        width: 220px;
        height: 476px !important;
    }

    .video__cont iframe {
        height: 320px !important;
    }

    .card__main {
        display: none;
        width: 100%;
        position: fixed;
        bottom: 180px;
        left: 0;
        padding: 0 20px;
        background: #fff;
        max-height: 400px;
        overflow: scroll;
        z-index: 9999;
    }

    .card__models {
        width: auto;
        flex-wrap: nowrap;
    }

    .card__model-border {
        width: 128px;
    }

    .card__tools-body {
        overflow-y: scroll;
    }

    .card__model-active {
        width: 105px;
    }

    .card__model {
        top: -19px;
    }

    .card__material-body {
        display: inline-flex;
        /*overflow: scroll;*/
        flex-wrap: nowrap;
        width: auto;
    }

    .card__order, .card__download {
        font-size: 15px;
    }

    .card__text {
        font-size: 14px;
        margin-bottom: 13px;
    }

    .card__title {
        font-size: 15px;
        margin-bottom: 13px;
    }

    .card {
        padding-top: 30px;
    }

    .card__main-text {
        font-size: 15px;
    }
}

@media ( max-width: 480px) and ( min-width: 319px ) {
    .card__text-for-pc {
        display: none;
    }
}

@media (max-width: 1020px) {
    .card__result-pic {
        width: 273px;
    }
}

@media (max-width: 991px) {
    .card__result-pic {
        width: 194px;
    }
}